.about-project {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
}
.about-project__title {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 0;
  text-align: left;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}
.about-project__diplom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px;
}
.about-project__diplom_content:first-child {
  margin-right: 52px;
}
.about-project__content_title {
  display: flex;
  text-align: initial;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0;
}
.about-project__content_text {
  display: flex;
  text-align: left;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 24px 0;
}
.about-project__time {
  display: flex;
  margin-top: 86px;
  margin-bottom: 110px;
}
.about-project__time_start {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: space-between;
}
.about-project__time_end {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-between;
}
.about-project__time_start-title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  display: flex;
  height: 36px;
  color: white;
  background: #3456F3;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.about-project__time_end-title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  display: flex;
  height: 36px;
  background: #F2F2F2;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.about-project__time_text {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
  margin: 0;
  padding-top: 15px;
}
@media (max-width: 768px) {
  .about-project {
    padding-top: 90px;
  }
  .about-project__content_text {
    font-size: 12px;
    line-height: 18px;
    margin: 20px 0;
  }
  .about-project__time {
    margin-top: 75px;
  }
}
  @media (max-width: 400px) {
  .about-project {
    padding-top: 70px;
    margin: 0 8px;
  }
  .about-project__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
  .about-project__diplom {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
  .about-project__content_title {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
  .about-project__content_text {
    font-size: 11px;
    line-height: 16px;
    margin: 20px 0 0;
  }
  .about-project__diplom_content:first-child {
    margin-right: 0;
    margin-bottom: 56px;
  }
  .about-project__time_start-title {
    font-size: 11px;
    line-height: 13px;
    height: 35px;
  }
  .about-project__time_end-title {
    font-size: 11px;
    line-height: 13px;
  }
  .about-project__time_text {
    font-size: 11px;
    line-height: 13px;
  }
  .about-project__time_start {
    width: 36%;
  }
  .about-project__time_end {
    width: 67%;
  }
  .about-project__time {
    margin-top: 56px;
    margin-bottom: 45px;
  }
}