body, html {
  background: #FAFAFA;
}
#root {
  height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 70px;
  height: 100vh;
}
@media (max-width: 768px) {
  .App {
    padding: 0 30px;
  }
}
@media (max-width: 450px) {
  .App {
    padding: 0 10px;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
