.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.elements {
  display: grid;
  margin: 51px 0 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 24px;
  row-gap: 5px;
}
@media (max-width: 1024px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 29px;
    grid-row-gap: 0px;
  }
}
.elements__box {
  display: flex;
}
.more {
  display: flex;
  align-items: center;
  margin: 33px 0 147px;
  flex-direction: row;
  justify-content: center;
}
.more__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 320px;
  min-height: 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border: solid 1px #E8E8E8;
  opacity: 1;
  background-color: #FAFAFA;
  transition: opacity 0.4s ease-in-out;
  border-radius: 5px;
  align-items: center;
}
@media (max-width: 768px) {
  .more {
    margin: 47px 0 147px;
  }
}
@media (max-width: 450px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 0;
    padding: 0;
  }
  .more {
    margin: 63px 30px 150px;
  }
  .more__button {
    min-width: 240px;
  }
}