.navtab {
    display: flex;
    justify-content: center;
    padding: 26px 0;
    background-color: #F5F5F5;
    margin: 0 -70px;
  }
.navtab__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: black;
  margin-right: 41px;
}
.navtab__link:last-child {
    margin-right: 0;
}
@media (max-width: 768px) {
  .navtab {
    margin: 0 -50px;
  }
}
@media (max-width: 700px) {
  .navtab {
    margin: 0 -10px;
  }
  .navtab__link {
    font-size: 11px;
    margin-right: 20px;
  }
}